:root {
    --sidebar-light: #215273;
    --sidebar-dark: #010C14;
    --sidebar-bottom-light: #376B8E;
    --sidebar-bottom-dark: #374f5f;
    --border: #7CE395;                
    --main-body-light: #F4FBFF;
    --main-body-dark:#05243A;
    --background-white: #ffff;
  }

.register-container {
    width: 100vw;
    height: 100vh;
    background: var(--main-body-dark);
}

.left-container {
    background: var(--main-body-dark);
}
.register-wrapper > span, h1 {
    color: var(--background-white);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
    background-color: var(--main-body-dark);
    border: 1px solid var(--main-body-dark);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    min-width: 280px;
    max-width: 100%;
    margin-top: 5rem;
}

.text-field input {
    color: var(--background-white);
    font-size: 1rem;
    font-weight: 500;
    max-width: 30%;
    width: 100%;
    /* width: 100%; */
    border: 1.5px solid var(--sidebar-bottom-dark);
    height: 50px;
    letter-spacing: .03rem;
    background-color: var(--sidebar-bottom-dark);
    outline: none;
    transition: .25s;
    border-radius: 15px;
    text-indent: 20px;
    margin-top: 8px;
}

.text-field input::placeholder {
    color: var(--main-body-light);
    font-size: 14px;
}
