:root {
    --sidebar-light: #215273;
    --sidebar-dark: #010C14;
    --sidebar-bottom-light: #376B8E;
    --sidebar-bottom-dark: #374f5f;
    --border: #7CE395;                
    --main-body-light: #F4FBFF;
    --main-body-dark:#05243A;
    --background-white: #ffff;
  }

.register-container {
    width: 100vw;
    height: 100vh;
    background: var(--main-body-dark);
}

.register-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.register-wrapper {
    min-width: 400px;
    max-width: 500px;
    width: 100%;
    padding: 32px;
    margin-left: 3rem;
}

.register-wrapper > span, h1 {
    color: var(--background-white);
    padding: 10px 0px;
}

.text-field {
    position: relative;
}

.text-field svg {
    position: absolute;
    right: -2px;
    bottom: -4px;
    width: 30px;
    height: 30px;
    transform: translate(-50%,-50%);
    transform-origin: center;
}


.text-field input{
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid var(--sidebar-bottom-dark);
    background: var(--sidebar-bottom-dark);
    color: var(--main-body-light);
    height: 50px;
    max-width: 100%;
    width: 100%;
    letter-spacing: .03rem;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 1rem;
}

.text-field input::placeholder {
    color: var(--main-body-light);
    font-size: 15px;
}

.text-field input:focus::placeholder {
    transform: translateY(-110%);
    opacity: 0;
    transition: transform 0.5s, font-size 0.3s, opacity 0.3s;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 0.5rem;
}

.text-row {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1rem;
}

@media (max-width: 768px) {
    .register-wrapper {
        margin-left: 0px;
    }
}