:root {
    --sidebar-light: #215273;
    --sidebar-dark: #010C14;
    --sidebar-bottom-light: #376B8E;
    --sidebar-bottom-dark: #374f5f;
    --border: #7CE395;                
    --main-body-light: #F4FBFF;
    --main-body-dark:#05243A;
    --background-white: #ffff;
  }

.register-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-body-light);
}

.register-wrapper {
    display: flex;
    text-align: center;
    margin: 20px 20px;
}

.left-wrapper {
    background: var(--main-body-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
    background-color: var(--background-white);
    border: 1px solid var(--main-body-dark);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    min-width: 280px;
    max-width: 100%;
    width: 100%;
    padding: 32px;
    margin: 0 32px;
}

.text-field input {
    color: var(--main-body-dark);
    font-size: 1rem;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1.5px solid var(--main-body-dark);
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 15px;
    text-indent: 20px;
    margin-top: 8px;
}

.right-wrapper {
    width: 100vw;
    height: 90vh;
}
