@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

:root {
  --sidebar-light: #215273;
  --sidebar-dark: #010C14;
  --sidebar-bottom-light: #376B8E;
  --sidebar-bottom-dark: #374f5f;
  --border: #7CE395;                
  --main-body-light: #F4FBFF;
  --main-body-dark:#05243A;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dm+Sans', sans-serif;
}
