:root {
    --sidebar-light: #215273;
    --sidebar-dark: #010C14;
    --sidebar-bottom-light: #376B8E;
    --sidebar-bottom-dark: #374f5f;
    --border: #7CE395;                
    --main-body-light: #F4FBFF;
    --main-body-dark:#05243A;
  }

.container{
    width: 100vw;
    height: 100vh;
    background-image: url("../../Components/assets/bg-image2.jpg");
    background-size: cover;
    background-blend-mode: overlay;
}
.header{
    
    display: grid;
    grid-template-columns: 22% 78%;    
}
.logo > img{
    margin: 25px 20px 0px 50px  ;
}

.navbar{
    list-style: none; 
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 25px;
     
}
.menulist>.lists{
    text-decoration: none;
    font-size: 1.5rem;
    color: black; 
}

.payloader {
    background-color: #706c6c6e;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 100px;
    width: 30vw;
    height: 75vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    text-align: center;
}

.heading > h1{
    font-size: 3rem;
    margin-top: -30px;
}
.heading > p{
    font-size: 20px;
    color: white;
    margin-top: -20px;
    /* margin-left: 60px; */
}

.field > .emailid > input[type=email]{
    width:25rem;
    height: 3rem;
    border: 1px solid white;
    border-radius:  9px;
    font-size: 20px;
    margin-top: 45px;
}
.field > .password > input[type=password]{
    width:25rem;
    height: 3rem;
    border: 1px solid white;
    border-radius:  9px;
    font-size: 20px;
    margin-top: 15px;    
}
.forgot{
    float : right ;
    margin-top: 5px;

}

#forgotp{
    text-decoration: none;
    color: white;
    font-size:18px

}

.or{
    margin: 30px 0 0 0 ;
    text-align: center;
    font-size: 30px;
    position: relative;
}

.or:before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #000;
    left: 120px;
    top: 50%;
    position: absolute;
  }
  
  .or:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #000;
    right: 120px;
    top: 50%;
    position: absolute;
  }
.login-with-google > #google{
    margin-left: 80px;
    margin-top: 30px;
}
.login-button > input[type=submit]{
    width:25rem;
    height: 3rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius:  30px;
    font-size: 20px;
    background-color: #115AF2;
    cursor: pointer;
    margin: 20px 0 20px 0;    
}
.login-button > input[type=submit]:hover{
    /* box-shadow: inset -4px -7px 9px rgb(0 0 0 / 1); */
    transition : all ease 0.3s;
    background-color: #cc4545c0;
  
}
.singin{
    text-align: right;
}